<div class="Section-content">
    {% if products %}
        <form class="Sort" style="">
            <div class="Sort-title">Сортировать по: </div>
            <div class="Sort-variants">
                {{ include('pages/partials/sort.html.twig') }}
            </div>
        </form>
        <div class="Cards">
            {% for product in products %}
                <div class="Card"><a class="Card-picture" href="{{ path('app_product_details', {id: product.id}) }}"><img src="{{ asset(product.imageUrl) }}" alt="card image"/></a>
                    <div class="Card-content">
                        <strong class="Card-title"><a href="{{ path('app_product_details', {id: product.id}) }}">{{ product.title }}</a>
                        </strong>
                        <div class="Card-description">
                            <div class="Card-cost">
                                <span class="Card-price">${{ product.prices | middlePrice }}</span>
                            </div>
                            <div class="Card-category">{{ product.category.name }}</div>
                            <div class="Card-hover">
                                <a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/bookmark.svg') }}" alt="bookmark.svg"/></a>
                                <a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/cart.svg') }}" alt="cart.svg"/></a>
                                <a class="Card-btn" href="#"><img src="{{ asset('images/icons/card/change.svg') }}" alt="change.svg"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="Card-sale">-60%
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(products) }}
    {% endif %}
</div>